#viewPostContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(140, 255, 0);
  flex-wrap: wrap;
  background-color: #f2f4f5;
  flex-wrap: nowrap;
}
#viewPostContainer .main_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(140, 255, 0);
  flex-wrap: wrap;
  background-color: transparent;
  width: 1280px;
  position: relative;
}
#viewPostContainer .main_box .banner_path {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(140, 255, 0);
  flex-wrap: wrap;
  background-color: transparent;
}
#viewPostContainer .main_box .banner_path .pathList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(140, 255, 0);
  flex-wrap: wrap;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 5px;
  background-color: transparent;
}
#viewPostContainer .main_box .banner_path .pathList li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(140, 255, 0);
  flex-wrap: wrap;
  background-color: transparent;
  justify-content: center;
  list-style: none;
}
#viewPostContainer .main_box .banner_path .pathList li span {
  font-size: 12px;
  color: #002f34;
  text-transform: capitalize;
}
#viewPostContainer .main_box .banner_path .pathList li .svg_image {
  margin: 0 5px;
  fill: #002f34;
}
#viewPostContainer .main_box .fix_top {
  list-style: none;
  padding: 0 266px;
  display: flex;
  position: fixed;
  margin: 0 0 0 -50vw;
  left: 50%;
  top: 68px;
  background-color: #fff;
  border-bottom: 1px solid rgba(14, 4, 5, 0.2);
  z-index: 4;
  width: 100%;
}
#viewPostContainer .main_box .fix_top .overview_li {
  opacity: unset;
  font-weight: 600;
  border-bottom: 4px solid black;
  height: 64px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin: 0 40px 0 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
#viewPostContainer .main_box .fix_top .button_list_top {
  display: flex;
  align-items: center;
  margin: 0 26px 0 auto;
}
#viewPostContainer .main_box .fix_top .button_list_top button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  background: none;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
}
#viewPostContainer .main_box .fix_top .button_list_top .name_action {
  font-size: 16px;
  line-height: 24px;
  color: #406367;
}
#viewPostContainer .main_box .product_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(0, 255, 13);
  flex-wrap: wrap;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: flex-start;
  margin-top: 20px;
  height: auto;
  position: relative;
}
#viewPostContainer .main_box .product_image .image_bx {
  width: auto;
  height: auto;
  background-color: rgb(13, 13, 13);
}
#viewPostContainer .main_box .product_image .image_bx .images {
  width: 1280px;
  height: 480px;
}
#viewPostContainer .main_box .product_image .image_bx .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#viewPostContainer .main_box .slide_button {
  background-color: transparent;
  position: absolute;
  top: 16rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 25px;
}
#viewPostContainer .main_box .slide_button .left_slide, #viewPostContainer .main_box .slide_button .right_slide {
  background: rgb(17, 255, 0);
  padding: 5px;
  width: 10px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  line-height: 20px;
  top: calc(50% - 24px);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.32);
  background-image: linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.2));
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  cursor: pointer;
}
#viewPostContainer .main_box .slide_button .right_slide {
  padding: 5px;
}
#viewPostContainer .main_box .actionBtns {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  top: 50px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(180deg, rgb(0, 47, 52), rgba(0, 47, 52, 0));
}
#viewPostContainer .main_box .actionBtns .ctnr_btn {
  z-index: 3;
  position: relative;
  padding: 16px 16px 0 0;
}
#viewPostContainer .main_box .actionBtns .ctnr_btn button {
  margin: 0 24px 0 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  background: none;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  fill: white;
}
#viewPostContainer .main_box .product_details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(140, 255, 0);
  flex-wrap: wrap;
  background-color: transparent;
  margin: 24px 44px 0;
}
#viewPostContainer .main_box .product_details .leftPanel {
  width: 66%;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-1, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 {
  background-color: #fff;
  margin: 16px 0 0;
  padding: 16px 24px;
  border-radius: 4px;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-1 .pnl-1-1, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl-1-1 {
  background-color: #fff;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-1 .pnl-1-1 .pnl-1-1-container .space_pnl-1-1, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl-1-1 .pnl-1-1-container .space_pnl-1-1 {
  flex-direction: row;
  display: flex;
  position: relative;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-1 .pnl-1-1 .pnl-1-1-container .itemTitle, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl-1-1 .pnl-1-1-container .itemTitle {
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  padding: 6px 0 0;
  text-transform: capitalize;
  margin: unset;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-1 .pnl-1-1 .pnl-1-1-container .Highline, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl-1-1 .pnl-1-1-container .Highline {
  font-size: 16px;
  line-height: 24px;
  padding: 8px 0 16px;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-1 .pnl-1-1 .pnl-1-1-container .itemParameters, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl-1-1 .pnl-1-1-container .itemParameters {
  display: flex;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-1 .pnl-1-1 .pnl-1-1-container .itemParameters .item_details, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl-1-1 .pnl-1-1-container .itemParameters .item_details {
  border-left: 1px solid rgba(14, 4, 5, 0.2);
  position: relative;
  height: 22px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  white-space: nowrap;
  border-left: none;
  padding-left: 0;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-1 .pnl-1-1 .pnl-1-1-container .itemParameters .item_details picture img, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl-1-1 .pnl-1-1-container .itemParameters .item_details picture img {
  width: 18px;
  vertical-align: middle;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-1 .pnl-1-1 .pnl-1-1-container .itemParameters .item_details h2, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl-1-1 .pnl-1-1-container .itemParameters .item_details h2 {
  padding-left: 8px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.88px;
  opacity: 0.74;
  text-transform: uppercase;
  font-weight: unset;
  margin: unset;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .adOverview span {
  font-size: 24px;
  opacity: 0.8;
  margin: 0;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .space_pnl-1-2 {
  margin: 16px -24px 14px;
  border-bottom: 1px solid rgba(14, 4, 5, 0.2);
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 {
  flex: 0 0 calc(33.33333% - 5.33333px);
  display: flex;
  margin: 10px 0;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .cntr_pnl_2 picture .icon_img {
  width: 36px;
  height: 36px;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .owner_details, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .post_add_details, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .seller_adress {
  padding: 0 0 0 12px;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .owner_details .Owner, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .post_add_details .Owner, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .post_add_details .post_add_date, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .seller_adress .Owner, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .seller_adress .Location {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.74;
  color: #002f34;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .owner_details .owner_nth, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .post_add_details .owner_nth, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .post_add_details .post_add_count, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .seller_adress .owner_nth, #viewPostContainer .main_box .product_details .leftPanel .pnl-2 .pnl_2_1 .pnl_1_box .pnl_1_box_cnt .pnl_1_box_cnt_1 .seller_adress .pinned_location {
  font-size: 18px;
  font-weight: 700;
  color: #002f34;
  line-height: 1.33;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-3, #viewPostContainer .main_box .product_details .leftPanel .pnl-4 {
  border-radius: 4px;
  background-color: #fff;
  margin: 16px 0 0;
  padding: 16px 24px;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-3 .pnl3_title, #viewPostContainer .main_box .product_details .leftPanel .pnl-4 .pnl3_title {
  font-size: 16px;
  line-height: 24px;
  color: #406367;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-3 .pnl3_title .itemDescriptonTitle, #viewPostContainer .main_box .product_details .leftPanel .pnl-4 .pnl3_title .itemDescriptonTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-3 .pnl3_title .driven, #viewPostContainer .main_box .product_details .leftPanel .pnl-4 .pnl3_title .driven {
  font-size: 16px;
  line-height: 24px;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-4 .pnl_4_1 {
  font-weight: 700;
  font-size: 24px;
  color: #406367;
  line-height: 1.14;
  opacity: 0.8;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-4 .cntr_pnl_4 {
  height: 281px;
  padding: 16px 12px 9px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-4 .cntr_pnl_4 .pnl_4_1_1 {
  outline: none;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-4 .cntr_pnl_4 .pnl_4_1_1 .svg_pnl4_1 {
  outline: none;
  box-shadow: none;
  height: unset;
  height: 85%;
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  padding: 20px 0;
  cursor: pointer;
  z-index: 1;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-4 .cntr_pnl_4 .pnl_4_2 {
  display: flex;
  flex: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  scroll-behavior: smooth;
  height: 270px;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-4 .cntr_pnl_4 .pnl_4_2 .pnl_4_2_2 {
  margin-right: 10px;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-4 .cntr_pnl_4 .pnl_4_2 .pnl_4_2_2 .pnl_link .imgCnt {
  width: 192px;
  height: 256px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-4 .cntr_pnl_4 .pnl_4_2 .pnl_4_2_2 .pnl_link .imgCnt .img_box img {
  height: 164px;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-4 .cntr_pnl_4 .pnl_4_2 .pnl_4_2_2 .pnl_link .imgCnt .add_info {
  padding: 16px 8px 8px;
  color: #002f34;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 4px 4px;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-4 .cntr_pnl_4 .pnl_4_2 .pnl_4_2_2 .pnl_link .imgCnt .add_info .prdc_price {
  font-size: 20px;
  letter-spacing: 0.8px;
  font-weight: 700;
}
#viewPostContainer .main_box .product_details .leftPanel .pnl-4 .cntr_pnl_4 .pnl_4_2 .pnl_4_2_2 .pnl_link .imgCnt .add_info .product_name_and_info {
  font-size: 14px;
  letter-spacing: 0.16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 8px;
  font-weight: getFontWeight(bold);
}
#viewPostContainer .main_box .product_details .rightPanel {
  width: 33%;
  position: sticky;
  top: 136px;
  height: 100%;
  padding: 0 0 0 16px;
}
#viewPostContainer .main_box .product_details .rightPanel .right_panel_1 {
  background-color: #fff;
  margin: 16px 0 0;
  padding: 16px 24px;
  border-radius: 4px;
}
#viewPostContainer .main_box .product_details .rightPanel .right_panel_1 .priceCard {
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 47, 52);
}
#viewPostContainer .main_box .product_details .rightPanel .right_panel_1 .priceCard .itemPrice {
  font-size: 45px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
#viewPostContainer .main_box .product_details .rightPanel .right_panel_1 .priceCard .make-offer {
  color: #fff;
  background-color: #002f34;
  border-radius: 4px;
  border: 5px solid #002f34;
  padding: 0 7px;
  width: 100%;
  height: 48px;
}
#viewPostContainer .main_box .product_details .rightPanel .right_panel_1 .priceCard .make-offer span {
  font-size: 16px;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo {
  max-width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #002f34;
  border-radius: 4px;
  background-color: #fff;
  margin: 16px 0 0;
  padding: 16px 24px;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .profileCard {
  display: flex;
  max-width: 100%;
  align-items: center;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .profileCard .profileCard_link .seller_dp {
  width: 68px;
  height: 68px;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .profileCard .follow_user {
  flex-basis: 100%;
  margin: 0 0 0 12px;
  position: relative;
  overflow: hidden;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .profileCard .follow_user .user_name_post {
  display: block;
  padding-right: 16px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #002f34;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .profileCard .follow_user .follow_user_svg {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  position: absolute;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .chat_with_seller {
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0 12px;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .chat_with_seller button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-style: none;
  background: none;
  outline: none;
  text-transform: lowercase;
  font-weight: 700;
  cursor: pointer;
  padding: 0 12px;
  position: relative;
  overflow: hidden;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 48px;
  width: 100%;
  color: #002f34;
  border-radius: 4px;
  border: 2px solid #002f34;
  padding: 0 10px;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .location_navigator {
  margin: 16px 0 0;
  padding: 16px 8px;
  border-radius: 4px;
  background-color: #f2f4f5;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .location_navigator .lc_cntr {
  display: flex;
  margin-bottom: 16px;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .location_navigator .lc_cntr .lc_1 {
  flex: 1 0 auto;
  margin-top: 2px;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .location_navigator .lc_cntr .lc_2 {
  margin-left: 8px;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .location_navigator .lc_cntr .lc_3 {
  flex: 1 0 32%;
  margin: -10px 0 -10px 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .location_navigator .lc_cntr .lc_3 .lc_3_1 {
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
#viewPostContainer .main_box .product_details .rightPanel .sellerInfo .location_navigator .lc_cntr .lc_3 .lc_3_1 img {
  width: 100%;
  display: block;
}
#viewPostContainer .main_box .product_details .rightPanel .line_1 {
  margin: 10px 0;
}
#viewPostContainer .main_box .product_details .rightPanel .report_add {
  margin-top: 8px;
  background-color: #fff;
  padding: 16px;
}
#viewPostContainer .main_box .product_details .rightPanel .report_add .re_add_1 {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 24px;
}
#viewPostContainer .main_box .product_details .rightPanel .report_add .re_add_1 strong {
  font-weight: bolder;
  font-size: 14px;
  color: #002f34;
}
#viewPostContainer .main_box .product_details .rightPanel .report_add .re_add_1 p {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color: #002f34;
}/*# sourceMappingURL=style.css.map */