* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  
  direction: ltr;
  text-align: left;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  font-family: Arial, Helvetica, sans-serif;
 overflow-x: hidden;

  

  #root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
    font-family: Arial, Helvetica, sans-serif;

    
  }
}
